Repository Marfeel/MarfeelCodingStandards, changes with the owners that CODEOWNERS names for each.
All owners: @Marfeel/frontend-teachleads, @Marfeel/alot, @Marfeel/ten, @Marfeel/berg

CODEOWNERS:

# This file
/CODEOWNERS @Marfeel/frontend-teachleads

# inventory.json schemas, main logic and tests
/json-lint/schemas/inventory/ @Marfeel/alot
/json-lint/schemas/metrics/ @Marfeel/ten @Marfeel/berg
/json-lint/schemas/comments/ @Marfeel/ten @Marfeel/berg
/json-lint/schemas/ui/ @Marfeel/ten @Marfeel/berg

Added giraff adserver
  json-lint/schemas/inventory/adservers/giraff.json
  json-lint/schemas/inventory/main.json
  json-lint/test/resources/schema/inventory/valid/giraff.test.json
Owners: @Marfeel/alot

Added absolute path to mrf-json since Jinks binaries are not available in Jenkins
  json-lint/utils/schemaUtils.js
Owners: none

Add BlueKai core metric system to MarfeelCodingStandards CUS-35740
  json-lint/schemas/metrics/main.json
  json-lint/schemas/metrics/providers/blueKai.json
Owners: @Marfeel/ten, @Marfeel/berg

CUS-35643/add-options-google-analytics
  json-lint/schemas/metrics/providers/googleAnalytics.json
  json-lint/test/resources/schema/metrics/valid/googleAnalytics.json
  json-lint/test/resources/schema/metrics/wrong/googleAnalytics.json
Owners: @Marfeel/ten, @Marfeel/berg

Remove Bluekai optional property from body CUS-35740
  json-lint/schemas/metrics/providers/blueKai.json
Owners: @Marfeel/ten, @Marfeel/berg

Allow priority placements definition
  json-lint/schemas/inventory/main.json
  json-lint/test/resources/schema/inventory/valid/prioritaryPlacement.json
Owners: @Marfeel/alot

CUS-35716 add field to lotame
  json-lint/schemas/metrics/providers/lotame.json
Owners: @Marfeel/ten, @Marfeel/berg

Add support for inter and remove smartold
  json-lint/schemas/inventory/adservers/smartadserverold.json
  json-lint/schemas/inventory/main.json
  json-lint/test/resources/schema/inventory/valid/smartadserverold.test.json
Owners: @Marfeel/alot

CUS-35876 Add mgid
  json-lint/schemas/inventory/adservers/mgid.json
  json-lint/schemas/inventory/main.json
  json-lint/test/resources/schema/inventory/valid/mgid.test.json
Owners: @Marfeel/alot

Fix typo
  json-lint/test/resources/schema/inventory/valid/mgid.test.json
Owners: none

Eslint for AdThrive
  json-lint/schemas/inventory/adservers/adthrive.json
  json-lint/schemas/inventory/main.json
  json-lint/test/resources/schema/inventory/valid/adthrive.test.json
Owners: @Marfeel/alot

Changes due PR
  json-lint/schemas/inventory/adservers/adthrive.json
  json-lint/test/resources/schema/inventory/valid/adthrive.test.json
Owners: @Marfeel/alot

Rename
  json-lint/schemas/inventory/adservers/adthrive.json
  json-lint/test/resources/schema/inventory/valid/adthrive.test.json
Owners: @Marfeel/alot

Add No Ad For InventoryJson
  json-lint/schemas/inventory/adservers/emptyad.json
  json-lint/schemas/inventory/main.json
  json-lint/test/resources/schema/inventory/valid/emptyad.test.json
Owners: @Marfeel/alot

Fix Build
  json-lint/schemas/inventory/main.json
Owners: @Marfeel/alot

Fix PR
  json-lint/schemas/inventory/adservers/emptyad.json
Owners: @Marfeel/alot

CUS-36297/add-support-chunkfilename
  json-lint/schemas/inventory/adservers/adsense.json
  json-lint/schemas/inventory/adservers/types/chunkFilename.json
  json-lint/test/resources/schema/inventory/valid/adsense.chunk.test.json
Owners: @Marfeel/alot

Json schema added for features.json
  json-lint/schemas/features/main.json
  json-lint/test/resources/schema/features/valid/featureOff.json
  json-lint/test/resources/schema/features/valid/featureOn.json
  json-lint/test/resources/schema/features/valid/withOptions.json
  json-lint/test/resources/schema/features/wrong/incorrectFeature.json
  json-lint/test/resources/schema/features/wrong/incorrectType.json
  json-lint/test/resources/schema/features/wrong/noFeatures.json
  json-lint/test/spec/api/jsonLintApi.spec.js
Owners: none

Add default value
  json-lint/schemas/features/main.json
Owners: none

Add tailDMP in coding-standards
  json-lint/schemas/metrics/main.json
  json-lint/schemas/metrics/providers/tailDMP.json
Owners: @Marfeel/ten, @Marfeel/berg

Added a new adserver for touch
  json-lint/schemas/inventory/adservers/scriptLoader.json
  json-lint/schemas/inventory/main.json
  json-lint/test/resources/schema/inventory/valid/scriptLoader.test.json
Owners: @Marfeel/alot

MRF-48081 Create new feature for enable newmetrics
  json-lint/schemas/features/main.json
  json-lint/test/resources/schema/features/valid/featureOff.json
  json-lint/test/resources/schema/features/valid/featureOn.json
  json-lint/test/resources/schema/features/valid/withOptions.json
  json-lint/test/resources/schema/features/wrong/incorrectType.json
  json-lint/test/resources/schema/features/wrong/noFeatures.json
Owners: none

Fix
  json-lint/schemas/features/main.json
Owners: none

Fix owner
  json-lint/schemas/features/main.json
Owners: none

Change name feature
  json-lint/schemas/features/main.json
  json-lint/test/resources/schema/features/valid/featureOff.json
  json-lint/test/resources/schema/features/valid/featureOn.json
  json-lint/test/resources/schema/features/valid/withOptions.json
  json-lint/test/resources/schema/features/wrong/incorrectType.json
  json-lint/test/resources/schema/features/wrong/noFeatures.json
Owners: none

Added Width And Height To Connatix AdServer
  json-lint/schemas/inventory/adservers/connatix.json
  json-lint/test/resources/schema/inventory/valid/connatix.test.json
Owners: @Marfeel/alot

Fix name feature
  json-lint/schemas/features/main.json
Owners: none

Update main.json
  json-lint/schemas/features/main.json
Owners: none

add adServer Disqus for touch
  json-lint/schemas/inventory/adservers/disqus.json
  json-lint/schemas/inventory/main.json
  json-lint/test/resources/schema/inventory/valid/disqus.test.json
Owners: @Marfeel/alot

fixes
  json-lint/schemas/inventory/adservers/disqus.json
Owners: @Marfeel/alot

more fixes :)
  json-lint/schemas/inventory/adservers/disqus.json
Owners: @Marfeel/alot

update from disqus to disqusads
  json-lint/schemas/inventory/adservers/disqusads.json
  json-lint/schemas/inventory/main.json
  json-lint/test/resources/schema/inventory/valid/disqus.test.json
Owners: @Marfeel/alot

camelcase
  json-lint/schemas/inventory/adservers/disqusads.json
  json-lint/schemas/inventory/main.json
  json-lint/test/resources/schema/inventory/valid/disqusads.test.json
Owners: @Marfeel/alot

reverting hehe
  json-lint/schemas/inventory/adservers/disqus.json
  json-lint/schemas/inventory/main.json
  json-lint/test/resources/schema/inventory/valid/disqus.test.json
Owners: @Marfeel/alot

Adding new feature for testing
  json-lint/schemas/features/main.json
Owners: none

Adding new feature for testing (#157)
  json-lint/schemas/features/main.json
Owners: none

Revert "Adding new feature for testing (#157)"
  json-lint/schemas/features/main.json
Owners: none

Revert "Adding new feature for testing (#157)" (#158)
  json-lint/schemas/features/main.json
Owners: none

feat: add jasmine eslint config
  eslint/jasmine/.eslintrc
  package-lock.json
  package.json
Owners: none

feat: add jasmine eslint config
  eslint/jasmine/.eslintrc
  package-lock.json
  package.json
Owners: none
